
.alerta{
   padding: .5rem;
   text-align: center;
   color: $blanco;
   font-weight: bold;
   text-transform: uppercase;
   margin: 1rem 0;
   &.error{
      padding: .5rem;
      text-align: center;
      color: $blanco;
      font-weight: bold;
      text-transform: uppercase;
      margin: 1rem 0;
      background-color: red;
      
   }
   
   &.exito{
      padding: .5rem;
      text-align: center;
      
      font-weight: bold;
      text-transform: uppercase;
      margin: 1rem 0;
      background-color: #71B100;
   }
}